html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(white, grey);
}

.dark_body {
    background-image: linear-gradient(grey, black);
}

.tictactoe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(120, 120, 120);
    height: 430px;
    width: 430px;
    border-radius: 10px;
    margin: 40px auto;
}

.header {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    height: 110px;
}

#title {
    font-size: 70px;
    margin-top: 0px;
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: rgb(210, 210, 210);
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    border: 0.5px solid rgb(175, 175, 175);
    flex: 1;
    font-family: 'Caveat', cursive;
    font-size: 6.5em;
    padding-left: 30px;
    font-weight: bold;
    color: rgb(45, 45, 45);
}

.button {
    font-size: 22px;
    width: 140px;
    height: 70px;
    border: none;
    border-radius: 4px;
    background-color: rgb(180, 180, 180);
    color: rgb(70, 70, 70);
    padding: 10px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-family: 'Reem Kufi Fun', cursive;
}

.button:hover {
    background-color: rgb(70, 70, 70);
    color: rgb(180, 180, 180);
}

.dark_button {
    background-color: rgb(150, 150, 150);
    color: rgb(30, 30, 30);
}

.dark_button:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(150, 150, 150);
}

#credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -40px;
    gap: -20px;
}

h1 {
    text-align: center;
    margin: 40px;
    margin-bottom: 25px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: rgb(45, 45, 45);
}

.dark_text {
    color: rgb(210, 210, 210);
}

.icon {
    width: 28px;
    height: 20px;
}

#dark_mode {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: -50px;
}

#toggle {
    margin: 12px;
    display: block;
    border: none;
    border-radius: 2px;
    background-color: rgb(170, 170, 170);
    width: 44px;
    height: 36px;
}

#toggle:hover {
    background-color: lightgrey;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    gap: 40px;
    color: rgb(45, 45, 45);
}

.top {
    text-align: center;
    font-family: 'Reem Kufi Fun', cursive;
    font-size: 40px;
}

.mini_top {
    text-align: center;
    font-family: 'Reem Kufi Fun', cursive;
    font-size: 28px;
    margin-bottom: 8px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
}

.mini_bottom {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.group {
    border: 4px solid rgb(45, 45, 45);
    padding: 12px;
    border-radius: 4px;
}

.dark_group {
    border: 4px solid rgb(210, 210, 210);
}